---
const { title, titleSuffix } = Astro.props;
const finalTitleSuffix = titleSuffix ?? " | NorthZeroD";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}{finalTitleSuffix}</title>
</head>
